.products {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    margin: 25px;
    width: 98%;
    max-width: 1440px;
    .product-item {
        background: $button;
        margin: 0 auto;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        h3 {
            margin-top: 15px;
        }
        p {
            margin-top: 10px;
        }
        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
        .buy-btn {
            margin-top: 20px;
            background: rgba(84, 184, 84, .6);
            color: $button;
            padding: 10px 45px;
            border-radius: 3px;
            font-size: 17px;
        &:hover {background: rgba(84, 184, 84, .8);}
        &:active {background: rgba(84, 184, 84, .8);}
        &:focus {background: rgba(84, 184, 84, .8);}
        }
    }
}
