h1 {
    font-family: 'Oswald';
}

h2, h3 {
    font-family: 'Noto Serif';
}

p, button, a {
    font-family: 'Domine';
}


// font-family: 'Domine', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Serif', serif;
// font-family: 'Oswald', sans-serif;